 <div class="col-6">
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">First Name</label>
      <input type="text" class="form-control" id="exampleInputName" value="{{this.first_name}}" name="first_name" required>
    </div>
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="exampleInputName1" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="exampleInputName" value="{{this.last_name}}"name="last_name" required>
    </div>
  </div>
  <div class="col-6">
  
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="text" class="form-control" id="exampleInputName" value="{{this.email}}" name="email" placeholder="name@gmail.com" required>
    
  </div>
  <div class="col-6">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Phone</label>
      <input type="text" class="form-control" id="exampleInputPhone" value="{{this.phone}}" name="phone" required>
    </div>
  </div>

  <div class="col-2 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>